@import "tailwindcss";

@theme {
    --color-pistachio-500: #93C572;
    --color-text-300: #525252;
    --color-textlite-100: #E6E6E6;
    --color-bglite-100: #F5F5F5;
    --font-main: "Itim", sans-serif;
}